* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    display: flex;
    background: rgb(17, 139, 239);
  }

  .app{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    width: 1040px;
    /* height: 1640px */
  }

  .header{
    display: block;
    width: 70%;
    margin-left: auto;
  }

  .signin-container{
    width: 70%;
    margin-left: 20%;
  }

  .signin-form{
    width: 70%;
    margin-left: auto;
  }
  .signup-form{
    width: 70%;
    margin-left: auto;
    padding-top: 100px;
  }
  .signin-text{
    text-align: left;
    color: #5111CC;
    font-family: 'Kulim Park', sans-serif;
    font-size: 12pt;

    /* padding-left: 20px; */
  }

  .button{
    background-color: #FF3131; /* Green */
    border: none;
    color: #5111CC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Kulim Park', sans-serif;
    font-display: bold;

  }

  .input-text{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  .user-container {
    font-family: 'Kulim Park', sans-serif;
    width: 70%;
    margin-left: auto;
    padding-top: 100px;
    padding-block: 20px ;
        color: white;


  }
  
  /* .memory-game {
    width: 640px;
    height: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    perspective: 1000px;
  } */

  .memory-level-one {
    width: 1000px;
    height: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    perspective: 1000px;
  }

  .memory-level-two {
    width: 640px;
    height: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    perspective: 1000px;
  }
  
  .memory-level-three {
    width: 100%;
    height: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    perspective: 1000px;
  }

  .memory-level-four {
    width: 640px;
    height: 1040px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    perspective: 1000px;
  }

  .memory-card {
    width: 80%;
    height: 80%;
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .memory-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-face,
  .back-face {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    backface-visibility: hidden;
    object-fit: cover;
  }
  
  .front-face {
    transform: rotateY(180deg);
  }

  .win-message {
      position: top;
    z-index: 10000;
  }